* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 59%;
}

nav {
  display: flex;
  position: sticky;
  top: 0px;
  padding: 0;
  padding-left: 0cm;
  min-height: 10vh;
 background-color: #084814;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 1.7rem;
  padding: 0 2rem 0 2rem;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;

}
nav img {
  width: 10vw;
  height: 10vh;
  margin:0;
}
li {
  text-align: left;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
li a:hover:not(.active) {
  color: rgb(0, 0, 0);

}
body {
  background-color: rgb(9, 52, 19);
;
 font-family: 'Pattaya';font-size: 22px;
}

.img1{
  width: 800px;
  height:auto;
  float:right;
  margin: 75px;
}
h1{
  font-size: 100px;
  color: white;
  min-height: 100px;
}
.flexie{
  position: absolute;
  display: flex;
  opacity: 100%;
  
}
div.flexie{
  margin-top: 60px;
  margin-left: 68px;
}

.b1{
height:900px;
width: 1499px;
}

.img2{
 display: flex;
 float: right;
 padding: 100px;

}
.b3{
 flex-direction: column;
}
.logo2{
  
  border-radius: 25px;
  background:  rgb(9, 52, 19);
  padding: 20px;
  width: 70px;
  min-height: 5vh;
 
}
.navleft{
  display: flex;
  margin-right: 40rem;
}
.h2{
  color: rgb(223, 218, 218);
  margin-top: 27rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #084814;
  color: white;
  text-align: center;
}

.opleiding{
  display: flex;
 float: right;
 padding: 35px;
 width: 35vw;
 height:50vh
}

.opp{
  margin-top: 20rem;
  color: white;
}

.opp3{
  margin-top: 20rem;
  color: white;
  
}
.overonsimg{
  display: flex;
  float: right;
  padding: 35px;
  width: 35vw;
  height:75vh;
}
.overons{
  color:white;
  margin-top: 25rem;
}
.exameplan{
  color:white;
  margin-top: 25rem;
}
.exame{
  display: flex;
  float: right;
  padding: 35px;
  width: 35vw;
  height:75vh;
}
.software{
  display: flex;
  float: right;
  padding: 35px;
  width: 35vw;
  height:75vh;
}
.softwarer{
  color:white;
  margin-top: 25rem;
}
.eduarte{
  display: flex;
  float: right;
  padding: 35px;
  width: 35vw;
  height:75vh;
}
.eduarter{
  color:white;
  margin-top: 25rem;
}
.canvas{
  display: flex;
  float: right;
  padding: 35px;
  width: 35vw;
  height:75vh;
}
.canvass{
  color:white;
  margin-top: 25rem;
}
.locatie{
  display: flex;
  float: right;
  padding: 35px;
  width: 35vw;
  height:75vh;
}
.locatiee{
  color: white;
  margin-top: 25rem;
}
.dropdown:hover .dropdown-content {

  display:block;



}

.dropdown{

  position: static;

 

}

.dropdown-content a{

 

  color: white;



  display: block;

  align-items: right;

}

.dropdown-content{

  display: none;

  position: absolute;

  justify-content: center;

  min-width: 7vw;

}

h1#asd{
  position: absolute;
  margin-left: 250px;
  font-size: 80px;
}
